/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 250;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 69%, 61%)
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE STYLES =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== HEADER & NAVIGATION =====*/
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.show {
  right: 0;
  transition: all 0.5s ease-in-out;
}

/*===== HOME SECTION =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home-content h1 {
  font-size: var(--big-font-size);
  font-weight: 700;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.change-text h3 .word .letter.in {
  transition: 0.6s ease;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-image {
    order: -1;
    margin-bottom: 20px;
  }
}

/*===== BUTTONS =====*/
.button {
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 36px rgba(18, 247, 255, 0.3);
}

/*===== SOCIAL ICONS =====*/
.social-icons a:hover {
  box-shadow: 0 0 10px rgba(18, 247, 255, 0.7);
  transform: scale(1.1);
}

/*===== CONTACT FORM =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
